@import 'Cards';
@import 'Library';
@import 'Login';
body{
    font-family: $body_font;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    .container__header{
        margin-top: 10px;
    }
    .container__elements{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px; 
        // border: 1px dashed red;
        min-height: 80vh;
        margin: 1em 2em 0em 2em;
        .container__component{
            border: 1px solid yellow;
        }
    }
}